<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scalr Storefront</title>
  <link type="image/x-icon" href="static/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/main.css" type='text/css'>
</head>
<body ng-app="ScalrStorefront">
  <div ng-controller="StorefrontController">
    <div class="navbar-wagon">
      <p><a href="/" class="navbar-wagon-brand"><img src="static/logo.png" />ACME Corp.</a></p>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Team</a> -->
        <div class="navbar-wagon-item">
          <div class="dropdown" ng-show="loggedIn">
            <img src="static/avatar.png" width='40' class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" />
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">  
              <li><a ng-show="! credentialsSaved" ng-click="saveApiSettings()" class="auth-button" id="auth-button-save2">Save credentials</a></li>
              <li><a ng-show="credentialsSaved" ng-click="clearApiSettings()" class="auth-button" id="auth-button-unsave">Delete saved credentials</a></li>
              <li><a ng-click="loggedIn = false" class="auth-button" id="auth-button-logout2">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('static/triangles-blue.png');">
      <div class="banner-content">
        <h1>ACME Cloud portal</h1>
        <p>Self-service frontend to Scalr</p>
      </div>
    </div>
    <div class="container">
      <div ng-show="! loggedIn">
        <div class="auth col-md-4 col-md-offset-4 margin-md-top">
          <form id="loginForm" class="form-horizontal padding-sm-top">
            <div class="form-group">
              <input required id="auth-server" class="auth-input form-control input-lg" name="server" ng-model="apiSettings.apiUrl" type="text" placeholder="Server (ex: https://my.scalr.com/)" />
            </div>
            <div class="form-group">
              <input required id="auth-keyid" class="auth-input form-control input-lg" name="keyid" ng-model="apiSettings.keyId" placeholder="API Key ID" type="text"/>
            </div>
            <div class="form-group">
              <input required id="auth-secret" class="auth-input form-control input-lg" name="secret" ng-model="apiSettings.secretKey" type="password" placeholder="Secret Key" />
            </div>
            <div class="form-group">
              <input required id="auth-envid" class="auth-input form-control input-lg" name="envid" ng-model="apiSettings.envId" type="text" placeholder="Environment ID" />
            </div>
            <div class='form-group padding-sm-top text-center'>
              <button type="button" ng-click="apiSettingsDone()" class="auth-button btn btn-primary btn-lg" id="auth-button-done">Done</button>
              <button type="button" ng-click="saveApiSettings()" class="auth-button btn btn-success btn-lg" id="auth-button-save">Save credentials locally</button>
            </div>
          </form>
        </div>
      </div>

      <div ng-show="loggedIn" class="margin-lg">
        <ul class="nav nav-tabs" role="tablist" id="tab-control">
          <li role="presentation" class="active"><a href="#my_farms" aria-controls="my_farms" role="tab" data-toggle="tab">My Applications</a></li>
          <li role="presentation"><a href="#available_farms" aria-controls="available_farms" role="tab" data-toggle="tab">Catalog</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="my_farms">
            <div class="farms">
              <div class="running-farms">
                <div ng-hide="myFarms.length > 0" class="margin-md-top">
                  <p>
                    You don't have any application running at the moment. Launch one from the Catalog tab.
                  </p>
                </div>
                <div ng-hide="myFarms.length == 0" class="ng-hide">
                  <div ng-repeat="row in myFarms | chunkBy:2">
                    <div ng-repeat="farm in row" class="running-farm-desc">
                      <div class="farm col-xs-6" ng-click="toggleDetails(farm);">
                        <div class="img-container">
                          <img class="running-farm-logo farm-image hidden-xs" src="{{farm.description.logo}}"/>
                        </div>
                        <div class='farm-body'>
                          <h3>{{farm.name}}</h3> 
                          <p>{{farm.description.description}}</p>
                        </div>
                        <ul class="list-inline farm-controls hidden-sm hidden-xs">
                          <li ng-show="farm.servers.length != 0">
                            <span class="label label-success label-apps">Running</span>
                          </li>
                          <li ng-show="farm.servers.length == 0" >
                            <span class="label label-danger label-apps">Stopped</span>
                          </li>
                        </ul>
                      </div>
                      <div class=" padding-md running-farm-{{farm.id}}-details col-xs-12" ng-show="farm.showDetails">
                        <h3>{{farm.name}} details:</h3>
                        <div class='' ng-show="farm.servers.length == 0">
                          <p>This application is not running.</p>
                          <button type="button" ng-disabled="farm.working" ng-click="farm.working=true; startFarm(farm)" class="btn btn-success" id="farm-{{farm.id}}-button-start">Start application</button>
                          <button type="button" ng-disabled="farm.working || farm.terminating_servers_count > 0" ng-click="deleteFarm(farm);" ng-confirm-click="Are you sure that you want to delete this application? This cannot be undone." class="btn btn-danger" id="farm-{{farm.id}}-button-delete">Delete application</button>
                          <img src="/static/throbber.gif" ng-show="farm.working"/>
                        </div>
                        <div class="" ng-hide="farm.servers.length == 0">
                          <p>Endpoint: <a target="_blank" href="http://{{farm.servers[0].publicIp[0]}}">{{farm.servers[0].publicIp[0]}}</a></p>
                          <button type="button" ng-disabled="farm.working" ng-click="farm.working=true; stopFarm(farm)" class="btn btn-danger" id="farm-{{farm.id}}-button-stop">Stop application</button>
                          <img src="/static/throbber.gif" ng-show="farm.working"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="available_farms">
            <div class="available-farms">
              <div ng-hide="availableFarmSets.length > 0" class="margin-md-top">
                <p>
                  It looks like no application are available in your environment. Ask your administrator to add application templates.
                </p>
              </div>
              <div ng-hide="availableFarmSets.length == 0" class="ng-hide">
                <div ng-repeat="row in availableFarmSets | chunkBy:2">
                  <div ng-repeat="farmSet in row" class="available-farm-desc">
                    <div class="farm col-xs-6">
                      <div class="img-containergut ">
                        <img class="running-farm-logo farm-image hidden-xs" src="{{farmSet.logo}}" />
                      </div>
                      <div class='farm-body'>
                        <h3>{{ farmSet.name }}</h3>
                        <p>{{ farmSet.description }}</p>
                      </div>
                      <ul class="list-inline">
                        <li>
                          <span class='btn btn-default' ng-show="! farmSet.show_launch" ng-click="farmSet.show_launch = ! farmSet.show_launch">Create</span>
                          <span class='btn btn-default' ng-show="farmSet.show_launch" ng-click="farmSet.show_launch = ! farmSet.show_launch">Cancel</span>
                        </li>
                      </ul>
                    </div>
                    <div class="available-farm-launch col-xs-12" id="farm-{{farm.id}}-launch" ng-show="farmSet.show_launch">
                      <form class="form-horizontal padding-sm-top">
                        <div class="form-group">
                          <label for="platform-select-{{farmSet.selected}}" class="control-label col-sm-3">Platform:</label>
                          <div class="col-sm-9">
                            <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary" ng-repeat="(k,v) in farmSet.farms" ng-model="farmSet.selected" btn-radio="'{{k}}'">
                                {{v.platform}}
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="launch-farm-{{farmSet.selected}}-name" class="control-label col-sm-3">Name:</label>
                          <div class="col-sm-9">
                            <input required id="launch-farm-{{farmSet.selected}}-name" class="launch-farm-input form-control" ng-model="farmSet.farms[farmSet.selected].new_name" type="text"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3">Run only during business hours: </label>
                          <div class="col-sm-9">
                            <div class="checkbox">
                              <label><input type="checkbox" ng-model="farmSet.day_only" ng-true-value="2" ng-false-value="1"/></label>
                            </div>
                          </div>
                        </div>
                        <div class='form-group padding-sm-top' id="button-container">
                          <div class="col-sm-offset-3 col-sm-2">
                            <button type="button" ng-disabled="farmSet.launching" class="auth-button btn btn-success" id="button-farm-{{farmSet.selected}}-done" ng-click="farmSet.launching = true; cloneAndLaunch(farmSet.farms[farmSet.selected]);">Launch for ${{farmSet.farms[farmSet.selected].description.dailyPrice / farmSet.day_only }}/day</button>
                          </div>
                          <div class="col-sm-2">
                            <button ng-show="! farmSet.launching" type="button" class="auth-button btn btn-danger" id="button-farm-{{farmSet.selected}}-cancel" ng-click="farmSet.show_launch = false">Cancel</button>
                            <img class="control-label" src="/static/throbber.gif" ng-show="farmSet.launching"/>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="/static/angular-local-storage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  <script src="/static/hmac-sha256.js"></script>
  <script src="/static/enc-base64-min.js"></script>
  <script src="/static/scalr-api.js"></script>
  <script src="/storefront.js"></script>
</body>
</html>