<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scalr Storefront</title>
  <link type="image/x-icon" href="static/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
  <link rel="stylesheet" href="static/css/main.css" type='text/css'>
</head>
<body ng-app="ScalrStorefront">
  <div ng-controller="StorefrontController">
    <div class="navbar-wagon">
      <a href="/" class="navbar-wagon-brand"><img src="static/logo.png" /> Cloud Portal</a>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div class="navbar-wagon-item">
          <div class="dropdown">
            <div class="dropdown-toggle" data-toggle="dropdown" >
              {{availableEnvs[apiSettings.envId].label}}
            </div>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li ng-repeat="(envId,e) in availableEnvs">
                  <a ng-click="apiSettings.envId = envId; fetchAllFarms();">{{e.label}}</a>
                </li>
            </ul>
          </div>
        </div>
        <div class="navbar-wagon-item">
          <div class="dropdown" ng-show="loggedIn">
            <img src="static/avatar.png" width='40' class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" />
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a ng-show="! credentialsSaved" ng-click="saveApiSettings()" class="auth-button" id="auth-button-save2">Save credentials</a></li>
              <li><a ng-show="credentialsSaved" ng-click="clearApiSettings()" class="auth-button" id="auth-button-unsave">Delete saved credentials</a></li>
              <li><a ng-click="loggedIn = false" class="auth-button" id="auth-button-logout2">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-show="! loggedIn">
        <div class="auth col-md-4 col-md-offset-4 margin-md-top">
          <form id="loginForm" class="form-horizontal padding-sm-top">
            <div class="form-group">
              <label class="">Server (ex: https://my.scalr.com/) : </label>
              <input required id="auth-server" class="auth-input form-control input-lg" name="server" ng-model="apiSettings.apiUrl" type="text"/>
            </div>
            <div class="form-group">
              <label class="">API Key ID :</label>
              <input required id="auth-keyid" class="auth-input form-control input-lg" name="keyid" ng-model="apiSettings.keyId" type="text"/>
            </div>
            <div class="form-group">
               <label class="">Secret Key :</label>
              <input required id="auth-secret" class="auth-input form-control input-lg" name="secret" ng-model="apiSettings.secretKey" type="password" />
            </div>
            <div class="form-group">
              <label class="">Environment ID :</label>
              <input required id="auth-envid" class="auth-input form-control input-lg" name="envid" ng-model="apiSettings.envId" type="text" />
            </div>
            <div class='form-group padding-sm-top text-center'>
              <button type="button" ng-click="apiSettingsDone()" class="auth-button btn btn-success" id="auth-button-done">Done</button>
              <button type="button" ng-click="saveApiSettings()" class="auth-button btn btn-success btn-save-credentials" id="auth-button-save">Save credentials locally</button>
            </div>
          </form>
        </div>
      </div>
      <div ng-show="loggedIn" class="margin-md">
        <div id='pills'>
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active li-left"><a href="#my_farms" class="pill-left" data-toggle="pill" ng-click="resetApps()">My Applications</a></li>
            <li role="presentation"><a class="pill-right" href="#available_farms" data-toggle="pill" ng-click="resetCatalog()">Catalog</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="my_farms">
            <div class="farms">
              <div class="running-farms">
                <div ng-hide="myApps.length > 0" class="margin-md-top">
                  <p>
                    You don't have any application running at the moment. Launch one from the Catalog tab.
                  </p>
                </div>
                <div ng-hide="myApps.length == 0" class="ng-hide">
                  <div ng-repeat="app in myApps" class="running-farm-desc">
                      <div class="farm-wrap">
                        <div class="farm running-farm col-xs-6 {{shouldHideRunning(!app.showDetails)}}" ng-click="app.showDetails = ! app.showDetails" ng-class="{'full-width': app.showDetails}">
                          <div class='farm-body text-center'>
                            <h3>{{app.settings.name}}</h3>
                            <!--p>{{farm.description.description}}</p-->
                            <br>
                            <div class="farm-logo-container">
                              <span class="helper"></span>
                              <img class="running-farm-logo farm-image hidden-xs" src="{{app.model.logoUrl}}" />
                            </div>
                          </div>
                          <ul class="list-inline farm-controls hidden-sm hidden-xs" ng-show="!app.showDetails">
                            <li ng-show="app.status == 'running'">
                              <span class="label label-success label-apps">Running</span>
                            </li>
                            <li ng-show="app.status == 'pending_approval'">
                              <span class="label label-success label-apps">Pending approval</span>
                            </li>
                            <li ng-show="app.status == 'stopped'" >
                              <span class="label label-danger label-apps">Stopped</span>
                            </li>
                            <li ng-show="app.status == 'terminating'" >
                              <span class="label label-danger label-apps">Terminating</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="padding-md text-center running-farm-{{app.id}}-details running-farm-details col-xs-12" ng-show="app.showDetails">
                        <h3>{{app.settings.name}} details:</h3>
                        <div ng-hide="app.status == 'running'">
                          <p>This application is not running.</p>
                          <button type="button" ng-disabled="app.working || app.status == 'pending_approval'" ng-click="app.working=true; startApp(app)" class="btn btn-success" id="farm-{{app.id}}-button-start">Start application</button>
                          <button type="button" ng-disabled="app.working || app.status == 'terminating'" confirmed-click="deleteApp(app);" ng-confirm-click="Are you sure that you want to delete this application? This cannot be undone." class="btn btn-danger" id="farm-{{app.id}}-button-delete">Delete application</button>
                          <img src="static/throbber.gif" ng-show="app.working"/>
                        </div>
                        <div ng-show="app.status == 'running'">
                          <p>Application running</p>
                          <p>Endpoint: <a target="_blank" href="http://{{app.props.address}}">{{app.props.address}}</a></p>
                          <button type="button" ng-show="!app.model.approvalNeeded(app.settings)" ng-disabled="app.working" ng-click="app.working=true; stopApp(app)" class="btn btn-danger" id="farm-{{app.id}}-button-stop">Stop application</button>
                          <button type="button" ng-show="app.model.approvalNeeded(app.settings)" ng-disabled="app.working" ng-click="app.working=true; stopApp(app)" class="btn btn-danger" id="farm-{{app.id}}-button-stop">Request application stop</button>
                          <img src="static/throbber.gif" ng-show="app.working"/>
                        </div>
                        <div ng-show=hasModifiableSettings(app.form);>
                        <br/>
                        <h4><a ng-click="app.show_edition = ! app.show_edition">Application services</a></h4>
                        <div class="app-edit" ng-show="app.show_edition">
                          <form class="form-horizontal padding-sm-top">
                            <div class="form-group" ng-repeat="option in app.form | filter:{isModifiable: true}" ng-show="settings.advanced_user || !option.advUser">
                            <div class='label-settings-form'><h5>{{option.label}}</h5></div>
                              <!-- <label for="platform-select-{{app.selected}}" class="control-label col-sm-3">Platform:</label> -->
                              <div class="col-sm-12 text-center" ng-show="option.type == 'option'">
                                <div class="btn-group text-center" data-toggle="buttons">
                                  <label class="btn btn-primary btn-cloud" ng-repeat="(k,v) in option.options | orderBy:sortIndex()" ng-model="app.settings[option.identifier]" btn-radio="'{{k}}'">{{v}}</label>
                                </div>
                              </div>
                              <div class="col-sm-12 text-center" ng-show="option.type == 'text'">
                                <div class="server-input">
                                  <input class="launch-farm-input text-center form-control server-name-input" ng-model="app.settings[option.identifier]" type="text"/>
                                </div>
                              </div>
                              <div class="col-sm-12 text-center" ng-show="option.type == 'checkbox'">
                                <input type="checkbox" ng-model="app.settings[option.identifier]"><p class="business-hours-label">{{option.text}}</p>
                              </div>
                            </div>
                            <div class='form-group padding-sm-top' id="button-container">
                              <div class="text-center">
                                <button type="button" ng-disabled="app.working" class="auth-button btn btn-success" id="button-farm-{{app.id}}-done" ng-click="app.working = true; applyChanges(app);">Apply changes</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="available_farms">
            <div class="available-farms">
              <div ng-hide="apps.length > 0" class="margin-md-top">
                <p>
                  It looks like no application are available in your environment. Ask your administrator to add application templates.
                </p>
              </div>
              <div ng-hide="apps.length == 0" class="ng-hide">
                <div class="farm-group">
                  <div ng-repeat="app in apps" class="available-farm-desc">
                      <div class="farm catalog-farm col-xs-6 {{shouldHideFarmSet(!app.show_launch)}}" ng-class="{'full-width': app.show_launch}" ng-click="app.show_launch = ! app.show_launch">
                        <div class='farm-body text-center'>
                          <h3 class="farm-name" ng-class="{'font-size-lg': app.show_launch}">{{ app.model.name }}</h3>
                          <p class="farm-description">{{ app.model.description }}</p>
                          <br>
                          <div class="farm-logo-container">
                            <span class="helper"></span>
                            <img class="running-farm-logo farm-image hidden-xs" src="{{app.model.logoUrl}}" />
                          </div>
                        </div>
                      </div>
                      <div class="available-farm-launch col-xs-12" id="farm-{{app.model.name | safe}}-launch" ng-show="app.show_launch">
                        <form class="form-horizontal padding-sm-top">
                          <div class="form-group">
                            <!-- <label for="launch-farm-{{app.selected}}-name" class="control-label col-sm-3">Name:</label> -->
                            <div class='label-settings-form'><h5>Choose a name for this application</h5></div>
                            <div class="col-sm-12 text-center">
                              <div class="server-input">
                                <input required id="launch-farm-{{app.selected}}-name" class="launch-farm-input text-center form-control server-name-input" ng-model="app.settings.name" type="text"/>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" ng-repeat="option in app.form | filter:{advOption: false}" ng-show="settings.advanced_user || !option.advUser">
                            <div class='label-settings-form'><h5>{{option.label}}</h5></div>
                            <!-- <label for="platform-select-{{app.selected}}" class="control-label col-sm-3">Platform:</label> -->
                            <div class="col-sm-12 text-center" ng-show="option.type == 'option'">
                              <div class="btn-group text-center" data-toggle="buttons">
                                <label class="btn btn-primary btn-cloud" ng-repeat="(k,v) in option.options | orderBy:sortIndex()" ng-model="app.settings[option.identifier]" btn-radio="'{{k}}'">{{v}}</label>
                              </div>
                            </div>
                            <div class="col-sm-12 text-center" ng-show="option.type == 'text'">
                              <div class="server-input">
                                <input class="launch-farm-input text-center form-control server-name-input" ng-model="app.settings[option.identifier]" type="text"/>
                              </div>
                            </div>
                            <div class="col-sm-12 text-center" ng-show="option.type == 'checkbox'">
                              <input type="checkbox" ng-model="app.settings[option.identifier]"><p class="business-hours-label">{{option.text}}</p>
                            </div>
                          </div>
                          <div class="text-center underline pointer" ng-show="numAdvancedSettings(app.form) > 0 && settings.advanced_user && !settings.show_advanced">
                            <p class='advanded-settings' ng-click="settings.show_advanced = ! settings.show_advanced">Advanced Settings</h3>
                          </div>
                          <div id="advanced" ng-show="settings.advanced_user && settings.show_advanced">
                            <div id="template-{{app.model.name | safe}}-advanced-settings">
                              <div class="form-group" ng-repeat="option in app.form | filter:{advOption: true}" ng-show="settings.advanced_user || !option.advUser">
                                <div class='label-settings-form'><h5>{{option.label}}</h5></div>
                                <!-- <label for="platform-select-{{app.selected}}" class="control-label col-sm-3">Platform:</label> -->
                                <div class="col-sm-12 text-center" ng-show="option.type == 'option'">
                                  <div class="btn-group text-center" data-toggle="buttons">
                                    <label class="btn btn-primary btn-cloud" ng-repeat="(k,v) in option.options | orderBy:sortIndex" ng-model="app.settings[option.identifier]" btn-radio="'{{k}}'">{{v}}</label>
                                  </div>
                                </div>
                                <div class="col-sm-12 text-center" ng-show="option.type == 'text'">
                                  <div class="server-input">
                                    <input class="launch-farm-input text-center form-control server-name-input" ng-model="app.settings[option.identifier]" type="text"/>
                                  </div>
                                </div>
                                <div class="col-sm-12 text-center" ng-show="option.type == 'checkbox'">
                                  <input type="checkbox" ng-model="app.settings[option.identifier]"><p class="business-hours-label">{{option.text}}</p>
                                </div>
                                <br/>
                              </div>
                            </div>
                          </div>
                          <div class="text-center underline pointer" ng-show="settings.advanced_user && settings.show_advanced">
                            <p class='advanded-settings' ng-click="settings.show_advanced = ! settings.show_advanced">Hide Advanced Settings</h3>
                          </div>
                          <div class='form-group padding-sm-top' id="button-container">
                            <div class="text-center">
                              <button type="button" ng-hide='app.model.approvalNeeded(app.settings)' ng-disabled="app.launching" class="auth-button btn btn-success" id="button-farm-{{app.selected}}-done" ng-click="app.launching = true; launch(app);">Launch for ${{app.model.price(app.settings)}} / day</button>
                              <button type="button" ng-show='app.model.approvalNeeded(app.settings)' ng-disabled="app.launching" class="auth-button btn btn-success" id="button-farm-{{app.selected}}-done" ng-click="app.launching = true; launch(app);">Request application</button>
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="static/angular-local-storage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  <script src="static/hmac-sha256.js"></script>
  <script src="static/enc-base64-min.js"></script>
  <script src="static/scalr-api.js"></script>
  <script src="storefront.js"></script>
  <script src="app_definitions.js"></script>
  <script src="backend.js"></script>
  <script src="recipes.js"></script>
  <script src="api_recipe.js"></script>
  <script src="environments.js"></script>
</body>
</html>
