<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scalr Storefront Approval</title>
  <link type="image/x-icon" href="../static/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
  <link rel="stylesheet" href="../static/css/main.css" type='text/css'>
</head>
<body ng-app="ScalrStorefront">
  <div ng-controller="StorefrontController">
    <div class="navbar-wagon">
      <a href="/" class="navbar-wagon-brand"><img src="../static/logo.png" /> Cloud Portal</a>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
      </div>
    </div>
    <div class="container" ng-show="!done">
      <div>
        <div class="auth col-md-6 col-md-offset-3 margin-md-top">
          <h3>Request approval</h3>
          <p>{{user}} wants to {{jParams.action}} a new {{appName}} with the following characteristics:
            <pre>
              <code>{{params}}</code>
            </pre>
          </p>
          <form id="loginForm" class="form-horizontal padding-sm-top">
            <div class="form-group">
              <oauth2 authorization-url="{{config.oAuthGrantUrl}}"
                      sign-out-url=""
                      sign-out-append-token="true"
                      client-id="{{config.oAuthClientId}}"
                      redirect-url="{{config.oAuthRedirectUrlApproval}}"
                      response-type="token"
                      scope="user:write account:read"
                      auto-generate-nonce="false"
                      state="{{requestData}}"
                      ng-hide="loggedIn">
              </oauth2>
            <div class='form-group padding-sm-top text-center'>
              <button type="button" ng-click="accept()" class="auth-button btn btn-success" id="auth-button-done">Accept</button>
              <button type="button" ng-click="reject()" class="auth-button btn btn-success btn-save-credentials" id="auth-button-save">Reject</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container" ng-show="done">
      <div class="auth col-md-6 col-md-offset-3 margin-md-top">
        <p>All done, please close this window.</p>
      </div>
    </div>
  <br><br><br>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-md5/0.1.10/angular-md5.min.js"></script>
  <script src="../static/angular-local-storage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  <script src="../static/hmac-sha256.js"></script>
  <script src="../static/enc-base64-min.js"></script>
  <script src="../static/scalr-api.js"></script>
  <script src="approval.js"></script>
  <script src="../settings.js"></script>
  <script src="../static/angularJsOAuth2.js"></script>
</body>
</html>
