body {
  background-color: #FAFAFA;
}

.container {
  padding: 0;
}

#pills {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-pills li {
  color: #606C76;
}

.nav-pills li .pill-left {
  border-radius: 2px 0px 0px 2px;
  border-bottom: 1px solid #092EBB;
  border-top: 1px solid #092EBB;
  border-left: 1px solid #092EBB;
  width: 550px;
}

.nav-pills li .pill-right {
  border-radius: 0px 2px 2px 0px;
  border-bottom: 1px solid #092EBB;
  border-top: 1px solid #092EBB;
  border-right: 1px solid #092EBB;
  width: 550px;
}

.nav-pills li.active a {
  background-color: #092EBB;
}

.nav-pills li.active a:focus {
  background-color: #092EBB;
}

.nav-pills li.active a:active {
  background-color: #092EBB;
}

.nav-pills li.active a:hover {
  background-color: #092EBB;
}

.nav-pills li.active {
  background-color: white;
}

.nav li a:hover {
  background-color: white;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

a {
  color: #333;
}

.float-right {
  float: right;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border: .1rem solid #092EBB;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: #092EBB;
  border: 0;
}

.business-hours-label {
  display: inline;
  margin-left: 15px;
}

.server-input {
  text-align: center;
}

.server-input input {
  width: 675px;
  display: inline;
}

.label-settings-form {
  text-align: center;
}

.btn-cloud.active, .btn-cloud.active:focus, .btn-cloud.active:hover {
  background-color: #092EBB;
  border: 1px solid #092EBB;
}

.btn-cloud {
  background-color: white;
  color: #606C76;
  width: 225px;
  border: 1px solid #092EBB;
}

.btn-cloud:hover {
  background-color: #F7F7FA;
  color: #606C76;
  border: 1px solid #092EBB;
}
/* List items */

.farm {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 2px;
  /*transition: all 0.15s ease;*/
  height: 180px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),0 0px 0px 1px rgba(0, 0, 0, 0.02);
  margin: 10px;
  width: 48%;
}


.farm .img-container {
  width: 100px;
  text-align: center;
}

/* Body design */
.farm-body {
  flex: 1 1 auto;
  margin-right: 30px;
  margin-left: 30px;
}
.farm-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.farm-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
  font-size: 16px;
}

/* farm image */
.farm-image {
  margin-right: 20px;
  margin-left: 40px;
  width: 80px;
}

.farm-image-container {
  width: 100px;
}

/* Hover effects */
.farm:hover {
  background: #f7f7fa;
  cursor: pointer;
}

.farm-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
  color: red;
}
.farm-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: red;
}
.farm-controls a:hover {
  color: red !important;
}
.farm-controls-hidden a {
  color: transparent;
  font-size: 15px;
  /*transition: all 0.15s ease;*/
  border-color: transparent;
}
.farm:hover .farm-controls-hidden a { color: red }

.available-farm-launch {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),0 0px 0px 1px rgba(0, 0, 0, 0.02);
  margin-left: 1%;
  padding: 50px;
}

/* Padding */

.padding-sm-top {
  padding-top: 1em;
}

.margin-md-top {
  margin-top: 3em;
}

.margin-lg {
  margin-top: 5em;
  margin-bottom: 5em;
}

.margin-md {
  margin-top: 3em;
  margin-bottom: 3em;
}

.padding-md {
  padding-top: 3em;
  padding-bottom: 3em;
}

.control-label {
    text-align: left !important;
}

.full-width {
  width: 100%;
}

.hide {
  display: none;
}

.running-farm-details {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),0 0px 0px 1px rgba(0, 0, 0, 0.02);
  margin-left: 1%;
  padding: 50px;
}
/* Navbar */

/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 45px;
  margin-right: 10px;
  margin-top: -5px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-brand {
  color: black;
  width: 50%;
}

.navbar-wagon-brand img {
  width: 30px;
}

.navbar-wagon-brand:hover {
  text-decoration: none;
  color: black;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.banner {
  color: white;
  text-align: center;
  height: 170px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.sign-in-up .left-inner-addon {
    position: relative;
}

.sign-in-up .left-inner-addon input {
    padding-left: 30px;
}

.sign-in-up .left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.sign-in-up .right-inner-addon {
    position: relative;
}

.sign-in-up .right-inner-addon input {
    padding-right: 30px;
}

.sign-in-up .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 17px 12px;
    pointer-events: none;
}

.label-apps {
  display: inline;
  font-size: 14px;
}

